/* Order of properties in each rule: 
1. Dimensions (height, width)
2. Margins, paddings and borders
3. Display/position styles
4. Font styles
*/

/* Generic styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

/* Showcase styles */

#home{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:linear-gradient(rgba(37, 43, 54, 0.4), rgba(37, 43, 54, 0.4)),
    url("../img/bg-img.jpg") no-repeat center 58%/cover;
}

.home-title{
    border: 2px solid white;
    padding: 0.7rem;
    position: relative;
    bottom: 1.5rem;
    color: white;
}

.home-title h1, .home-title h2{
    user-select: none;
}

.home-title h1{
    font-size: 5rem;
    font-weight: 400;
}

.home-title h2{
    font-size: 1.7rem;
    font-weight: 300;
}

@media screen and (max-width: 700px){
    .home-title h1{
        font-size: 3.8rem;
    }
    .home-title h2{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 370px){
    .home-title h1{
        font-size: 3rem;
    }
    .home-title h2{
        font-size: 1.1rem;
    }
    #home{
        background-position: 60% center;
    }
}

/* Top navbar styles */

.top-nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#252b36;
}

.top-nav-links{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 370px){
    /* This is until I figure out a design for the hamburger menu */
    .top-nav-links{
        width: 100%;
    }
}

header{
    position: sticky;
    top: 0;
}

